table
{
    border-collapse: collapse;
    width: 400px;
}
th,td
{
    border:1px solid black;
    padding: 3px 0px 3px 0px;
    text-align: center;
    height: 30px;
}
thead
{
    background-color: rgb(119,167,36);
    color:white;
}